@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Add these variables for light mode */
    --bg-gradient-from: 220 70% 98%;
    --bg-gradient-via: 220 70% 95%;
    --bg-gradient-to: 220 70% 90%;
    --text-color: 240 10% 3.9%;
    --header-bg: 200 50% 60%; /* A lighter Sky 200 shade for the header */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* Add these variables for dark mode */
    --bg-gradient-from: 235 21% 11%;
    --bg-gradient-via: 235 21% 13%;
    --bg-gradient-to: 235 21% 15%;
    --text-color: 0 0% 91%;
    --header-bg: 199 84% 10%;
  }
}

@layer components {
  .tabs-list-boundary {
    border: 2px solid hsl(var(--background));
    border-radius: var(--radius);
    padding: 0.5rem;
    background-color: hsla(var(--background), 0);
  }

  .tabs-list-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: hsl(var(--background));
  }

  .tab-trigger {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    border-radius: var(--radius);
    transition: background-color 0.3s ease;
  }

  .tab-trigger[data-state='active'] {
    background-color: hsl(var(--card));
  }

  .tab-content-container {
    margin-top: 0.5rem;
    background-color: hsl(var(--card));
    border-radius: var(--radius);
    padding: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
